.conference {
  background: #373F51;
  /* Grid Item - specifies which named grid area to occupy */
  grid-area: conference;
  /* Flex Container - to be used as a flex container */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
