.gridContainer {
  background: #fdf6e3;
  height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 90% 60px;
  grid-template-rows: 90% 60px;
  grid-template-areas:
    'conference sidebar'
    'meetingControls sidebar';
}
